<body>
<div class="header-card">
        <img
            src="{{ url_for('static', filename='logo.png') }}"
            alt="Company Logo"
            class="logo"
        >
    </div>
</body>

<h2>Admin Settings</h2>

<form method="POST">

    <h3>Add Employee Email</h3>
    <input type="email" name="email" placeholder="employee@gmail.com">
    <button type="submit">Add</button>

    <hr>

    <h3>Gmail App Password</h3>
    <input type="text" name="email_password" placeholder="App Password">
    <button type="submit">Save Password</button>

</form>

<h3>Current Employees:</h3>
<ul>
    {% for r in recipients %}
        <li>{{ r }}</li>
    {% endfor %}
</ul>


